<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>directions_car</mat-icon>
  </button>
  <span>DMS American Autos</span>
    <span class="example-spacer"></span>
    <mat-slide-toggle class="example-margin"
    [checked]="assignmentChecked"
      (change)="toggle($event)">
      Assignment
    </mat-slide-toggle>
  <button mat-raised-button matBadge={{inventoryRecords}} matBadgePosition="before" matBadgeColor="accent">
    <span>{{currentActionDescription}}</span>
    <mat-icon>{{currentAction}}</mat-icon>
  </button>    
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon>apps</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item [disabled]="assignmentChecked" (click)="inventoryListAction('home')">
      <mat-icon>home</mat-icon>
      <span>Inventory</span>
    </button>
    <button mat-menu-item (click)="inventoryListAction('dealer1')">
      <mat-icon>looks_one</mat-icon>
      <span>Dealer 1</span>
    </button>
    <button mat-menu-item (click)="inventoryListAction('dealer2')">
      <mat-icon>looks_two</mat-icon>
      <span>Dealer 2</span>
    </button>
  </mat-menu>
</mat-toolbar>

<div class="container">
  <section *ngIf="showInventory">
    <app-inventory (updateRecordsQuantity)="updateRecordsQuantity($event)" ></app-inventory>
    <!-- (inventoryListAction)="inventoryListAction($event)" -->
  </section>
</div>